.comments {
  margin: 20px 0 0 0;
}

.comment {
  display: flex;
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.comment-body {
  margin: 0 0 0 20px;
  /* (.post-body width) - (.thumb width) - (.thumb border) - (.comment-body margin-left) */
  width: 460px;
}

.comment-body > h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.comment-body > p {
  margin: 0 0 20px 0;
}

.comment-footer-tools {
  display: flex;
  justify-content: space-between;
}