/* if no user is logged in */

.footer-logged-out {
  width: 1100px;
  margin: 0 auto 50px auto;
  color: #aaa;
  font-size: 14px;
}

.footer-language {
  display: block;
  padding: 20px;
  padding-bottom: 10px;
}

.footer-logged-out > div {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #aaa;
}

.footer-copy-logged-out {
  display: block;
  padding: 20px;
  padding-top: 10px;
}

.footer-links-logged-out {
  display: flex;
  padding: 20px;
  padding-top: 10px;
}

.footer-links-logged-out > li {
  padding: 0 0 0 20px;
}

.footer-logged-out a:hover {
  color: #000;
}

.footer-tech-stack {
  display: block;
  padding: 20px;
  padding-top: 0;
}

/* if an user is logged in */

.footer {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto 50px auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-copy {
  display: block;
  padding: 20px;
}

.footer-links {
  display: flex;
  padding: 20px;
}

.footer-links > li {
  padding: 0 0 0 20px;
}

.footer a:hover {
  color: #000;
}