/* if no user is logged in */

.header .header-logo-logged-out > a {
  padding: 0 20px 0 20px;
}

.header-nav-logged-out {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  align-items: flex-end;
}

.header-logo-logged-out {
  font-weight: 700;
  font-size: 40px;
}

/* if an user is logged in */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  background: rgb(65,89,147);
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo {
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-logo:hover {
  background: rgb(40,73,125);
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: rgb(40,73,125);
}

.header-list > li:nth-child(2) {
  padding: 10px 20px;
}

.header-list button {
  padding: 10px 20px;
}