.posts {
  margin: 20px 0 0 0;
}

.post {
  display: flex;
  border-top: 1px solid #ccc;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}

.post-body {
  margin: 0 0 0 20px;
  /* (.content-main width) - (.thumb width) - (.thumb border) - (.post-body margin-left) */
  width: 540px;
}

.post-body > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.post-body > p {
  margin: 0 0 20px 0;
}

.post-footer-tools {
  display: flex;
  justify-content: space-between;
}

.post-footer-tools button {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.post-body > p.total-likes {
  color: rgb(65, 89, 147);
  margin-top: 5px;
}