.content-logged-out {
  background-color: rgb(190, 198, 219);
  background-image: -webkit-linear-gradient(rgb(247, 248, 250), rgb(190, 198, 219));
}

.signup {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1100px;
  color: rgb(32, 52, 96);
}

.left {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.left > h2 {
  width: 500px;
  font-weight: 700;
  font-size: 24px;
}

.right {
  margin-top: 40px;
  margin-right: 140px;
  margin-bottom: 40px;
}

.right > h2 {
  width: 340px;
  font-size: 24px;
}

.right > h2:nth-child(1) {
  font-weight: 700;
}

.signup-form {
  margin-top: 50px;
}

.signup-form > div {
  margin-bottom: 8px;
}

.signup-form label {
  margin-right: 6px;
}

.signup-form input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.signup-form input[name="first_name"] {
  width: 195px;
}

.signup-form input[name="last_name"] {
  width: 196px;
}

.signup-form input[name="email"] {
  width: 197px;
}

.signup-form select {
  margin-right: 6px;
}

.signup-form > small {
  display: block;
  margin-bottom: 8px;
  width: 240px;
  font-size: 12px;
  color: gray;
}

.signup-form > button {
  background: rgb(112, 154, 83);
  color: #fff;
  border: 1px solid rgb(54, 87, 31);
  padding: 2px 8px;
}